{% extends "_base.html" %}
{% block content %}
    <h1 class="text-2xl mb-2">About Cheney &amp; Co</h1>
    <p class="text-lg">Another opening sentence that summarises Cheney &amp; Co's history, ethos, and talent. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna. Proin eget felis vel lorem pretium luctus. Donec ullamcorper mi eget libero faucibus accumsan. Mauris suscipit, mi sed dignissim semper, tortor ligula mollis diam, tempor bibendum nunc ante a quam. Nunc quis metus eget ligula iaculis molestie vitae sit amet magna. Donec et dolor sagittis, varius mi a, scelerisque augue. Etiam congue enim eu eros facilisis commodo. Nullam auctor neque sit amet aliquam dapibus. Vivamus quis mi at enim iaculis ultrices eu porttitor nulla. Praesent risus ante, suscipit ac neque eget, congue convallis sapien.</p>
    
    <h2 class="text-2xl my-4">Meet the Team</h2>
    
    <div class="flex flex-col md:flex-row mb-4 pb-4 border-b">
        <img src="https://www.fillmurray.com/g/200/300" alt="Profile picture of person. Short description of their appearance." width="200px" class="mr-4">
        <div>
            <h3 class="text-xl">FIRST_NAME LAST_NAME</h3>
            <p class="mb-4">Job role</p>
            <p>Paragraph about this person. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row mb-4 pb-4 border-b">
        <img src="https://www.fillmurray.com/g/300/300" alt="Profile picture of person. Short description of their appearance." width="300px" class="">
        <div class="md:order-first md:mr-4">
            <h3 class="text-xl md:text-right">FIRST_NAME LAST_NAME</h3>
            <p class="mb-4 md:text-right">Job role</p>
            <p>Paragraph about this person. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row mb-4 pb-4 border-b">
        <img src="https://www.fillmurray.com/g/200/200" alt="Profile picture of person. Short description of their appearance." width="200px" class="mr-4">
        <div>
            <h3 class="text-xl">FIRST_NAME LAST_NAME</h3>
            <p class="mb-4">Job role</p>
            <p>Paragraph about this person. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row mb-4 pb-4 border-b">
        <img src="https://www.fillmurray.com/g/250/300" alt="Profile picture of person. Short description of their appearance." width="250px" class="">
        <div class="md:order-first md:mr-4">
            <h3 class="text-xl md:text-right">FIRST_NAME LAST_NAME</h3>
            <p class="mb-4 md:text-right">Job role</p>
            <p>Paragraph about this person. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row mb-4">
        <img src="https://www.fillmurray.com/g/300/200" alt="Profile picture of person. Short description of their appearance." width="300px" class="mr-4">
        <div>
            <h3 class="text-xl">FIRST_NAME LAST_NAME</h3>
            <p class="mb-4">Job role</p>
            <p>Paragraph about this person. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
        </div>
    </div>

    <div class="text-center text-2xl my-8">Call to ACTION</div>
{% endblock content %}
