@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
        font-family: 'Rubik', sans-serif;
        background-color: #efefef
    }

    h1 {
        @apply text-5xl
    }

    h2 {
        @apply text-4xl
    }

    h3 {
        @apply text-3xl
    }

    main a {
        color: blue;
        @apply font-bold hover:underline;
    }
    .prose p {
        @apply my-4;
    }

    header a,
    footer a {
        @apply text-xl
    }

    .home-hero {
        background-position: 50%;
        background-image: url('/images/pexels_pen_on_paper.jpg');
    }
}
