{% extends "_base.html" %}
{% block content %}
    <h1 class="my-4 text-center">Our Services</h1>
    <div class="p-4">
        <p class="max-w-3xl mx-auto text-lg">We provide accounting services and act for individuals, sole traders, partnerships and limited companies all over the UK.</p>
    </div>

    <div class="px-4">
        <div class="max-w-3xl mx-auto md:grid md:grid-cols-2 md:gap-4 border-black border-b pb-6">
            <div class="border-black border-b pb-6 md:border-b-0 md:pb-0 md:border-r md:pr-4">
                <h2 class="my-4">
                    <i class="fa-thin fa-file-invoice"></i>
                    Accounts
                </h2>
                <p>We will prepare your accounts on time and in the necessary statutory format to meet the requirements of both H.M. Revenue and Customs and Companies House.</p>
            </div>
            <div class="">
                <h2 class="my-4">
                    <i class="fa-thin fa-money-check-pen"></i>
                    Payroll
                </h2>
                <p>We can take the hassle out of your hands by paying your staff and completing H.M. Revenue and Customs' Real Time reporting.  We offer a full bureau service to many of our clients.</p>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="max-w-3xl mx-auto border-black border-b pb-6 mb-6">
            <h2 class="my-4">
                <i class="fa-thin fa-folder-magnifying-glass"></i>
                Audit and Assurance
            </h2>
            <p>We are regulated by our professional body to audit your annual accounts.  You will receive an independent audit of your true financial position.  We can identify potential areas of weakness in your systems of auditing and advise you on the appropriate remedial action.  You will have peace of mind knowing your accounts are in full compliance with statutory reporting requirements.</p>
            <p>We are registered to carry on audit work in the UK by the Institute of Chartered Accountants for England and Wales.</p>
        </div>
    </div>

    <div class="px-4">
        <div class="max-w-3xl mx-auto md:grid md:grid-cols-2 md:gap-4 border-black border-b pb-6">
            <div class="border-black border-b pb-6 md:border-b-0 md:pb-0 md:border-r md:pr-4">
                <h2 class="my-4">
                    <i class="fa-thin fa-file-signature"></i>
                    Management Accounts
                </h2>
                <p>A growing business needs to know how it is doing and more than just once a year.  We can prepare management accounts on a monthly or quarterly basis and meet with you to discuss how to move your business forward.</p>
            </div>
            <div class="">
                <h2 class="my-4">
                    <i class="fa-thin fa-receipt"></i>
                    Book-keeping and VAT Returns
                </h2>
                <p>We can handle all your book-keeping and VAT requirements.  All tailored to your needs.  Either we provide an in-house service for small businesses or we can come out to you on a regular monthly basis to keep everything up to date for you.  Your choice.</p>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="max-w-3xl mx-auto border-black border-b pb-6 mb-6">
            <h2 class="my-4">
                <i class="fa-thin fa-coins"></i>
                Tax and Tax Planning
            </h2>
            <p>We will ensure you comply with all UK tax legislation and are paying the right amount of tax at the right time.  With tax legislation regularly changing, we will make sure you stay up to date with the latest opportunities, we well as helping you avoid any pitfalls.</p>
            <p>We want to help you in the most tax efficient way possible and make you aware of all the opportunities available to you.  We would like to meet with you to look at and discuss any ways we can help in this area.</p>
        </div>
    </div>

    <div class="px-4">
        <div class="max-w-3xl mx-auto md:grid md:grid-cols-2 md:gap-4 pb-6">
            <div class="pb-6 md:pb-0 md:pr-4">
                <h2 class="my-4">
                    <i class="fa-thin fa-hand-holding-heart"></i>
                    Charities
                </h2>
                <p>We work with various charities to help them meet all the requirements of both Companies House and the Charity Commission.</p>
            </div>
        </div>
    </div>
{% endblock content %}
