{% extends "_base.html" %}
{% block content %}
    <h1 class="my-4 text-center">Our Services</h1>
    <div class="p-4">
        <p class="max-w-3xl mx-auto text-lg">
            Another opening sentence that summarises Cheney &amp; Co's history, ethos, and talent. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna. Proin eget felis vel lorem pretium luctus. Donec ullamcorper mi eget libero faucibus accumsan. Mauris suscipit, mi sed dignissim semper, tortor ligula mollis diam, tempor bibendum nunc ante a quam. Nunc quis metus eget ligula iaculis molestie vitae sit amet magna. Donec et dolor sagittis, varius mi a, scelerisque augue.
        </p>
    </div>
    
    <div class="px-4">
        <div class="max-w-3xl mx-auto md:grid md:grid-cols-2 md:gap-4 border-b pb-4">
            <div class="border-b pb-4 md:border-b-0 md:pb-0 md:border-r md:pr-4">
                <h2 class="my-4">
                    <i class="fa-thin fa-globe"></i>
                    Service A
                </h2>
                <p>A paragraph about what this service is, how much experience we have with it, and what sets us apart from the competition.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
            </div>
            <div class="">
                <h2 class="my-4">
                    <i class="fa-thin fa-globe"></i>
                    Service B
                </h2>
                <p>A paragraph about what this service is, how much experience we have with it, and what sets us apart from the competition.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="max-w-3xl mx-auto border-b pb-4">
            <h2 class="my-4">
                <i class="fa-thin fa-globe"></i>
                Service C
            </h2>
            <p>A paragraph about what this service is, how much experience we have with it, and what sets us apart from the competition.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
        </div>
    </div>

    <div class="px-4">
        <div class="max-w-3xl mx-auto md:grid md:grid-cols-2 md:gap-4 border-b pb-4">
            <div class="border-b pb-4 md:border-b-0 md:pb-0 md:border-r md:pr-4">
                <h2 class="my-4">
                    <i class="fa-thin fa-globe"></i>
                    Service D
                </h2>
                <p>A paragraph about what this service is, how much experience we have with it, and what sets us apart from the competition.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
            </div>
            <div class="">
                <h2 class="my-4">
                    <i class="fa-thin fa-globe"></i>
                    Service E
                </h2>
                <p>A paragraph about what this service is, how much experience we have with it, and what sets us apart from the competition.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula tortor, volutpat non metus a, pretium laoreet risus. Vivamus sit amet enim et tellus consectetur dictum et id urna.</p>
            </div>
        </div>
    </div>

    <div class="bg-brand-gray text-center text-2xl py-8">
        Call to <a class="bg-brand-yellow rounded py-2 px-3" href="">ACTION</a>
    </div>
{% endblock content %}
