{% extends "_base.html" %}

{% block head %}
    <script src="/iframeResizer.min.js"></script>
{% endblock }

{% block content %}
    <h1 class="my-4 text-center sr-only">Resources</h1>

    <div class="my-4 max-w-3xl mx-auto">
        <iframe src="https://cheneyco-co-uk.rc.clientzone.com/resources" frameborder="0" class="px-4 w-full min-w-[100%] resources" ></iframe>
        <script>
            iFrameResize({}, 'iframe.resources')
        </script>
    </div>


    <!--
        A CTA link looks like this:
        <a href="/resources/online-calculators" target="_self" class="cta cta-primary">
            <div class="text-wrap">
                <h3>Online calculators</h3>
                <p>Includes calculators for mortgages, loans, APR, payslips, VAT, stamp duty, company car and fuel benefits.</p>
            </div>
        </a>

        A panel looks like this:
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a target="_self" title="Capital allowances" href="/resources/tax-rates-and-allowances/capital-allowances">Capital allowances</a>
                </h3>
            </div>
            <div class="panel-body">Plant and machinery allowances and the allowances available for other assets.</div>
        </div>

        A table might look like this:
        <table class="table child-benefit-tax-table-one">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>2023/24  (£)</th>
                    <th>2022/23  (£)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Eldest / only child</td>
                    <td>24.00</td>
                    <td>21.80</td>
                </tr>
                <tr>
                    <td>Other children</td>
                    <td>15.90</td>
                    <td>14.45</td>
                </tr>
            </tbody>
        </table>
    -->
{% endblock content %}
