{% extends "_base.html" %}
{% block content %}
    <h1 class="my-4 text-center sr-only">Resources</h1>

    <div class="my-4 max-w-3xl mx-auto">
        <iframe src="https://cheneyco-co-uk.rc.clientzone.com/resources" frameborder="0" class="w-full h-[1000px]" ></iframe>
    </div>


    <!--
        A CTA link looks like this:
        <a href="/resources/online-calculators" target="_self" class="cta cta-primary">
            <div class="text-wrap">
                <h3>Online calculators</h3>
                <p>Includes calculators for mortgages, loans, APR, payslips, VAT, stamp duty, company car and fuel benefits.</p>
            </div>
        </a>
    -->
{% endblock content %}
