{% extends "_base.html" %}
{% block content %}
    <h1 class="my-4 text-center">Contact Us</h1>

    <div class="p-4">
        <div class="max-w-3xl mx-auto">
            <iframe class="w-full aspect-video" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.0234518740335!2d-0.8753629838506451!3d52.24295767976271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48770932c2e8fc43%3A0xb05839ac8b7f21b6!2sCheney%20%26%20Co!5e0!3m2!1sen!2suk!4v1651150478193!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="p-4">
        <div class="max-w-3xl mx-auto grid grid-rows-2 md:grid-cols-2 md:grid-rows-none gap-4 border-b pb-6">
            <div class="border-b md:border-b-0 pb-6 md:border-r">
                <div class="flex flex-row">
                    <div class="mr-4"><i class="fa-thin fa-clock fa-3x"></i></div>
                    <div>
                        <p class="mb-4">You can make an appointment to come in and see us.</p>
                        <p>We're open 8.30am - 5.00pm Mon-Fri</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-row">
                    <div class="mr-4"><i class="fa-thin fa-map-location-dot fa-3x"></i></div>
                    <div>
                        <p class="mb-4">We are located on the Wellingborough Road in Northampton, our address being:</p>
                        <p>310 Wellingborough Road</p>
                        <p>Northampton</p>
                        <p>NN1 4EP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        <div class="max-w-3xl mx-auto grid grid-rows-2 md:grid-cols-2 md:grid-rows-none gap-4">
            <div class="border-b md:border-b-0 pb-6 md:border-r">
                <div class="flex flex-row">
                    <div class="mr-4"><i class="fa-thin fa-phone fa-3x"></i></div>
                    <div>
                        <p class="mb-4">If you would like to contact us by telephone, please call us on</p>
                        <p><a class="" href="tel:+441604620106">(01604) 620106</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-row">
                    <div class="mr-4"><i class="fa-thin fa-at fa-3x"></i></div>
                    <div>
                        <p class="mb-4">Or if you would prefer to email us, please do so on</p>
                        <p><a class="" href="mailto:accountants@cheneyco.co.uk">accountants@cheneyco.co.uk</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
