{% extends "_base.html" %}
{% block content %}
    <div class="bg-no-repeat bg-cover home-hero -mt-8 py-8">
        <div class="max-w-4xl mx-auto">
            <div class="text-xl bg-white bg-opacity-95 p-4 mx-1">
                <h1 class="uppercase font-bold text-3xl mb-4">Welcome to Cheney &amp; Co</h1>
                <p class="text-2xl font-bold mb-8">Expert professional advisors with four decades of experience.</p>
                <p class="">Cheney & Co was established on 1st May 1982 by Mr. Paul Cheney, and today the firm has continued to build on its reputation for providing excellent advice and service to all our business and personal clients.</p>
            </div>
        </div>
        <div class="max-w-4xl mx-auto text-lg flex flex-col md:flex-row gap-4 mt-8">
            <div class="bg-white bg-opacity-95 p-4 mx-1">
                <h2 class="flex flex-row items-center justify-between">Services <i class="fal fa-bell-concierge"></i></h2>
                <p class="my-4">We provide accounting services and act for individuals, sole traders, partnerships, and limited companies all over the UK.</p>
                <p><a class="bg-brand-primary py-2 px-3 hover:bg-brand-dark focus:bg-brand-dark text-white hover:no-underline" href="/services/">See our services</a></p>
            </div>
            <div class="bg-white bg-opacity-95 p-4 mx-1">
                <h2 class="flex flex-row items-center justify-between">Resources <i class="fal fa-grid-2"></i></h2>
                <p class="my-4">We've put together a collection of guides and tools, including; calculators, tax rates, allowances, and forms.</p>
                <p><a class="bg-brand-primary py-2 px-3 hover:bg-brand-dark focus:bg-brand-dark text-white hover:no-underline" href="/resources/">Browse our resources</a></p>
            </div>
        </div>
        <div class="max-w-4xl mx-auto text-lg flex flex-col gap-4 mt-8">
            <div class="text-xl bg-white bg-opacity-95 p-4 mx-1">
                <p class="">We act for a wide range of clients from individuals, sole traders, partnerships and limited companies of all sizes and believe our success is measured by your success.</p>
            </div>
        </div>
        <div class="max-w-4xl mx-auto text-lg flex flex-col md:flex-row gap-4 mt-8">
            <div class="text-xl bg-white bg-opacity-95 p-4 mx-1">
                <h2 class="flex flex-row items-center justify-between">About <i class="fal fa-users"></i></h2>
                <p class="my-4">We're a friendly and welcoming team, ready to help you get where you want to be.</p>
                <p><a class="bg-brand-primary py-2 px-3 hover:bg-brand-dark focus:bg-brand-dark text-white hover:no-underline" href="/about/">Learn more about us</a></p>
            </div>
            <div class="text-xl bg-white bg-opacity-95 p-4 mx-1">
                <h2 class="flex flex-row items-center justify-between">Contact <i class="fal fa-address-book"></i></h2>
                <p class="my-4">Get in touch, we're looking forward to hearing from you.</p>
                <p><a class="bg-brand-primary py-2 px-3 hover:bg-brand-dark focus:bg-brand-dark text-white hover:no-underline" href="/contact/">Get in touch</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
